<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Operations - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/homestyle.css" type="text/css">
	
	
</head>
<body>
    <div class="container">
        <!-- Painel esquerdo vermelho -->
        <div class="left-panel">
            <div class="logo-container">
                <img src="/images/logo.png" alt="Medical a a ">
            </div>
        </div>

        <!-- Painel direito - Formulário -->
        <div class="right-panel">
            <div class="form-container">
                <!-- Texto de boas-vindas -->
                <div class="welcome-text">
                    <span class="line1">Seja Bem Vindo ao</span>
                    <span class="line2">Medical Operations</span>
                </div>
			<form id="createAccountForm">
				<!-- Campo Nome -->
				<div class="form-field">
				    <label class="form-label">Nome</label>
				    <input type="text" class="form-input" id="name" name="name" required>
				</div>
				
                <!-- Campo Usuário -->
                <div class="form-field">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-input" id="email" name="email" required>
                </div>

                <!-- Campo Senha -->
                <div class="form-field">
                    <label class="form-label">Senha</label>
                    <input type="password" class="form-input" id="password" name="password" required>
                </div>
				
				<!-- Campo Confirmar Senha -->
				<div class="form-field">
				    <label class="form-label">Confirme a Senha</label>
				    <input type="password" class="form-input" id="confirmPassword" required>
				</div>


                <!-- Botão Login -->
                <button type="submit" class="btn-login">
                    <span class="btn-login-text">Criar Conta</span>
                </button>
				</form>
				<p id="statusMessage" style="text-align: center; margin-top: 20px; font-weight: bold;"></p>

				    <a href="/" class="create-account">
				        <span class="create-account-text">Voltar para Login</span>
				    </a>
				

            </div>
        </div>
    </div>
	
	<script src="/js/pacient-register.js"></script>
	
</body>
</html>
