<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Medical Operations - Login</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/css/homestyle.css" type="text/css">

</head>

<body>
	<div class="container">
		<!-- Painel esquerdo vermelho -->
		<div class="left-panel">
			<div class="logo-container">
				<img src="/images/logo.png" alt="Medical a a ">
			</div>
		</div>



		<!-- Painel direito - Formulário -->
		<div class="right-panel">
			<div class="form-container">
				<!-- Texto de boas-vindas -->
				<div class="welcome-text">
					<span class="line1">Seja Bem Vindo ao</span>
					<span class="line2">Medical Operations</span>
				</div>


				<form id="loginForm">
					<!-- Campo Usuário -->
					<div class="form-field">
						<label for="email" class="form-label">Usuário</label>
						<input type="email" id="email" name="email" class="form-input" required>
					</div>

					<!-- Campo Senha -->
					<div class="form-field">
						<label for="password" class="form-label">Senha</label>
						<input type="password" id="password" name="password" class="form-input" required>
					</div>

					<div class="form-field">
						<p id="statusMessage" style="color: #d73d48; font-weight: bold;"></p>
					</div>

					<!-- Checkbox e Esqueceu Senha -->
					<div class="options-row">
						<div class="checkbox-container">
							<input type="checkbox"> <span class="checkbox-label">Salvar Login</span>
						</div>

						<a href="/forgotpassword" class="forgot-password" role="button">
							<span class="forgot-password-text">Esqueceu sua Senha?</span>
						</a>
					</div>

					<!-- Botão Login -->
					<button type="submit" class="btn-login">
						<span class="btn-login-text">Login</span>
					</button>

				</form>
				<!-- Link Criar Conta -->
				<a href="/createaccount" class="create-account">
					<p class="create-account-text">Ainda não está Registrado? Crie uma Conta!</p>
				</a>

			</div>
		</div>


	</div>

	<script src="/js/login.js"></script>
	
</body>

</html>